.bank-header {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1000;
   }

.bank-header h2, .loopBank-header h3 {
    color: #fff;
    text-align: left;
}
.bank-header h3 {
    margin-bottom: -10px;
    text-align: left
}

.bank-header p {
    color: #fff;
}

.icon-loopbank {
    color: white;
    margin-left: 40px;
    margin-top: 23px !important;
    position: relative;
    margin-top:10px;
}

.right {
    float: right;
    text-align: right;
}

/*
.icon-profile {
    color: white;
    display: inline-block;
    height: 62px;
    margin-right: 10px;
    position: relative;
    top: 18px;
    width: 62px;
    cursor: pointer;
}

.logo{
    margin-top: 23px;
}
*/

