th{
	text-align :center !important;
}
.fileUploadLabel{
	text-align :left !important;
}
#tableHeader {
    background: #415466;
    border-radius: 6px;
    font-family: SFUITextSemibold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
}

tr {
    border: 1px solid #C2C2C2;
    border-radius: 4px;
}

.confirmBtn {
    background: #7ED321;
    border-radius: 4px;

    font-family: SFUIDisplayRegular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
}

.nonConfirmBtn {
    background: #3B4B54;
    border-radius: 4px;

    font-family: SFUIDisplayRegular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
}
