
.form-top, .form-bottom {
    background: #F2F2F2;
    border-radius: 6px;

    font-family: SFUITextBold;
    font-size: 16px;
    color: #176190;
    letter-spacing: 0px;
    line-height: 30px;
}

.checkBtn {
    background: #176190;
    border-radius: 4px;
    font-family: SFUITextRegular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
}
