<header class="row bank-header" ng-controller="headerController" ng-style="{{headerStyle}}">
		<div class="col-md-4 col-sm-4 col-xs-4">
      <h2><img class="logo" ng-src="{{logoUrl}}" alt="Bank"></h2>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8 right">
			<ul class="list-inline">
				<li>
					<i class="icon-profile" ng-style="{{profileImg}}"></i>
				</li>
				<li>
          <h3 style="color: white">{{bankOfficer}}</h3>
					<p>
						Bank Officer
					</p>
				</li>
			</ul>

		</div>

	</header>
